@model MvcInterface.Models.ConfirmationModel

@{
    ViewBag.Title = "Logout";
}

<h2>Logout?</h2>

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    <button name="Confirm" value="true" >Yes</button>
    <button name="Confirm" value="false" >No</button>
}
