<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcInterface-20140520163551;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcInterface-20140520163551.mdf" />
    <add name="UsersAwardsDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=UsersAwardsDB;Integrated Security=True" />
  
  </connectionStrings>
  <appSettings>
    <add key="xyz" value="val1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>