@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

@using (Html.BeginForm("UploadImage", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="image" />
    
     <input type="submit" value="Load"/>
}