@{
    ViewBag.Title = "Index";
}

<h2 class="h2">Main page</h2>

<div>
    @Html.ActionLink("Users", "Index", "Users")
</div>

<div>
    @Html.ActionLink("Awards", "Index", "Awards")
</div>

@*<div>
    @Html.ActionLink("Files", "Index", "Files")
</div>*@
