@model System.Guid

@{
    ViewBag.Title = "UploadImage";
    
}

<h2>Upload Image</h2>

@using (Html.BeginForm("UploadImage", "Users", FormMethod.Post, new { enctype = "multipart/form-data", id = Model}))
{
    @Html.AntiForgeryToken()
  
    <table class ="table">
    <tr>
        <th>
            <input  type="file" name="image" />   
        </th> 
    </tr>
    
    <tr>
        <td>
        <input type="submit" value="Load file"/>
        </td>
    </tr>
    </table>


}

<div>
    @Html.ActionLink("Back to Details", "Details", new { id=Model })
</div>