@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

@using (Html.BeginForm("Upload", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploadedFile" />
    
     <input type="submit" value="Load"/>
}